<%= render partial: "layouts/header" %>
  <% if sign_in_user? %>
    <h1><%= current_user.name %></h1>
    <%= link_to "ログアウト", user_sign_out_url %>
  <% else %>
  <% end %>
<%= render partial: "layouts/footer" %>
